.skills{
    margin: 0px auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}
.skills-col{
    flex-basis: 50%;
    
}

.skill-box{
    width: 100%;
    margin: 25px 0;
}
.skill-box .title{
    margin-left: -20px;
    display:block;
    font-size: 18px;
    font-weight: 600;

}
.skill-box .skill-bar{
    height: 10px;
    width: 100%;
    border-radius: 5px;
    
    margin-top: 6px;
    background: rgb(0, 0, 0,0.1);
}
.skill-bar .toltip{
    position: absolute;
    right: -14px;
    top: -13px;
    font-weight: 500;
    color: #fff;
    background: firebrick;
    border-radius: 50%;
    padding: 5px 6px;
}

.skill-box .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 5px;
    background: crimson;
    animation: progress 0.4s  ease-in-out forwards;
    opacity:0 ;
   

}



@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

.skill-per.html{
    width: 80%;
    background-color: orange;
     
     animation: progress 2s ease 0s infinite normal;
     

}
.skill-per.css{
    width: 90%;
    background-color: blue;
    
    animation: progress 2s ease 0s infinite normal;
}
.skill-per.js{
    width: 75%;
    background-color: yellow;
    
    animation: progress 2s ease 0s infinite normal;
}.skill-per.rect{
    width: 70%;
    background-color: cyan;
    
    animation: progress 2s ease 0s infinite normal;
}.skill-per.tailwend{
    width: 80%;
    background-color:cadetblue;
    
    animation: progress 2s ease 0s infinite normal;
}.skill-per.node{
    width: 70%;
    background-color: green;
   
    animation: progress 2s ease 0s infinite normal;
}.skill-per.express{
    width: 80%;
    background-color:yellowgreen;
   
    animation: progress 2s ease 0s infinite normal;
}.skill-per.java{
    width: 80%;
    background-color: crimson;

    animation: progress 2s ease 0s infinite normal;
}.skill-per.gsap{
    width: 70%;
    background-color: orange;
    
    animation: progress 2s ease 0s infinite normal;
}.skill-per.next-js{
    width: 60%;
    background-color: #e9e9;
   
    animation: progress 2s ease 0s infinite normal;
}
.skill-per.git{
    width: 60%;
    background:linear-gradient(16deg ,#4b90ff,#ff46e9);

    animation: progress 2s ease 0s infinite normal;
}
.skill-per.post{
    width: 60%;
    background:linear-gradient(16deg ,#4b90ff,#ff46e9);
    animation: progress 2s ease 0s infinite normal;
}
/* slkills circle*/



            /*----------media query----------*/
            @media (max-width: 840px){
                .skills{
                 flex-direction: column;
                }
                .skills-col{
                 flex-basis: 100%;
                 margin: 10px;
                 order: 2;
                 width: 100%;
                }
               
         }
