.services{
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    flex-wrap: nowrap;
      
  
  
}
.cards{
    height: 300px;
    padding-top: 30px;
    width: 100%;
    line-height: 30px;
    padding: 5px ;
    gap: 30px;
    border: 1px solid #2121;
   padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   box-shadow: 0 0 20px rgba(0, 0, 0 ,0.5);
  text-overflow:ellipsis;
  cursor: pointer;
  border-radius: 15px;
  
  

}




.cards:hover{
    background: rgba(0, 15, 152, 0.3);
    transition: 0.4s;
    opacity: 5;
}
.cards .img-1{
    width: 70px;
    margin-left: 5px;
    margin-bottom: 20px;
}
.cards .img-2{
    width: 80px;
    margin-left: 5px;
    margin-bottom: 55px;
}
.cards .img-3{
    width: 80px;
    margin-left: 5px;
    margin-bottom: 60px;
}
.cards h2{
  

}
.cards p{
    color: #676767;
}
            /*----------media query----------*/
            @media (max-width: 840px){
                .services{
                 flex-direction: column;
                }
                .cards{
                 flex-basis: 100%;
                 margin: 20px;
                 order: 2;
                }
              
         }